 #options, #items
 {
    width:800px;
    margin:0;
}
#options ul
{
    list-style:none; padding:0; 
}

#options li
{
    display:inline-block;

}
#options a
{
    color:#333; 
}

#items
{
    list-style: none; padding:0;
}

#items li
{
    display:inline-block;
    right: 15px;
}
img
{
    width: 180px;
    height: 180px;
}