*{
	font-family: 'Open Sans', sans-serif;
	font-size: 98%;
}
 
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size:550%;
	color: White;
	text-align: center;
}

.roda {
	font-size:40%;
}


a {
	color: #1aff1a;
	text-decoration: none;
	font-size: 120%;
}

a:hover {
	color: white;
	cursor:pointer;
}

.mesa {
	font-size: 150%;
	padding: 20px;
	float:left;
	background-color: #00ff00;
}

img {
    height: 396px;
    width: 704px;
    border: 3px solid black;
    margin-left: 14px;
}

body {
	background-color: #16181d;
}

.nav {
	font-size: 150%;
}

.home {
	color: White;
}

.proj {
	color: White;
}

.integ {
	color: White;
}

.segundos {
	color: #ffffff;
	width: 200px;
	font-size: 100%;
}

.facebrooklynson {
	color: Black;
	font-size: 100%;
}

.facebrooklynson:hover {
	color: White;
	cursor: pointer;}