*{
	font-family: 'Open Sans', sans-serif;
	font-size: 98%;
}
 
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size:650%;
	color: White;
	text-align: center;
}

.roda {
	font-size:50%;
}


a {
	color: rgb(5,204,29);
	text-decoration: none;
	font-size: 120%;
}

a:hover {
	color: white;
}

.mesa {
	font-size: 150%;
	padding: 20px;
	float:left;
	background-color: rgb(3,127,18);
}

img {
    height: 396px;
    width: 704px;
    border: 3px solid black;
    margin-left: 14px
}

body {
	background-color: rgb(5,28,29);
}

.nav {
	font-size: 150%;
}

.home {
	color: White;
}

.proj {
	color: White;
}

.integ {
	color: White;
}